{% extends 'Bus/base.html' %}


{% block content %}

<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading"> {{user.username}}</h2>
      <p class="text-secondary">{{user.email}}</p>
      <p class="text-secondary">Wallet Balance : {{request.user.profile.wallet_balance}}</p>
    </div>
  </div>
</div>

<div>

<h2>Upcoming Trips</h2>
{% for trip in upcoming_trips %}
<div class="trip">
    <p>Bus: {{ trip.bus }}</p>
    <p>Date: {{ trip.travel_date }}</p>
    <p>Cost: {{ trip.total_cost }}</p>
</div>
{% empty %}
<p>No upcoming trips.</p>
{% endfor %}

<h2>Past Trips</h2>
{% for trip in past_trips %}
<div class="trip">
    <p>Bus: {{ trip.bus }}</p>
    <p>Date: {{ trip.travel_date }}</p>
    <p>Cost: {{ trip.total_cost }}</p>
</div>
{% empty %}
<p>No past trips.</p>
{% endfor %}

</div>

{% endblock content %}